{% load static %}
<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- googlematerial font CSS -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
		rel="stylesheet">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		
		<!-- style.CSS -->
		<link rel ="stylesheet" href="{% static "interface/css/style.css" %}">
		<link rel ="stylesheet" href="{% static "interface/css/corporate.css" %}">
		
		<!-- Latest compiled and minified CSS 
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 
		-->
		
		<title>Root1...</title>
	</head>
	<body>
		<div class = "main">
			<nav class="navbar  navbar-expand-sm fixed-top navbar-dark bg-dark">
				<span class="logo-image">
					<img src="{% static data.icon %}" class="img-fluid">
				</span>
				<div class="navbar-brand " href="{% url "home" %}">
					    {{data.user}}
				</div>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<div class="dropdown" ref="#">
							<button class="btn btn-outline-success my-2 my-sm-0">Projects</button>
							<div class="dropdown-content">
								<a href="#">project</a>
								{% for project in data.projects %}
								<a href="#">{{project.0}}</a>
								{% endfor %}
							</div>
						</div>
						<div class="dropdown">
							<button class="btn btn-outline-success my-2 my-sm-0" >Tasks</button>
							<div class="dropdown-content">
								{% for term in data.terms %}
								<a href="#">{{term}}</a>
								{% endfor %}
							</div>
						</div>
						<div class="dropdown">
							<button class="btn btn-outline-success my-2 my-sm-0">Today</button>
							<div class="dropdown-content">
								<a href="#">Link 1</a>
								<a href="#">Link 2</a>
								<a href="#">Link 3</a>
							</div>
						</div>
						<div class="dropdown">
							<button class="btn btn-outline-success my-2 my-sm-0" >Time</button>
							
							<div class="dropdown-content" aria-labelledby="navbarDropdown">
								<a  href="#">calendar</a>
								<a  href="#">stopwatch</a>
								<a  href="#">timer</a>
								<a  href="#">alarm</a>
								<a  href="#">reminder</a>
								<a  href="#">calculator</a>
							</div>
						</div>
					</ul>
					<form class="form-inline my-2 my-lg-0">
						<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">re-Search</button>
					</form>
				</div>
			</nav>
			<nav id="mySidenav" class="sidenav">
				<a href="#" id="about">About</a>
				<a href="#" id="blog">Blog</a>
				<a href="#" id="projects">Projects</a>
				<a href="#" id="contact">Contact</a>
			</nav>
			<div id="tasks" class="card bg-dark ">
				<div class="card-header text-white bg-dark">
					Tasks
					<span class="material-icons" style="float:right;">add_box</span>
				</div>
				<ul class="list-group list-group-flush scroll">
					{% for task in data.tasks %}
					<span class="list-group-item text-white bg-dark">{{task.0}}
						<div class="progress">
							<div class="progress-bar " style="width:{{task.1}}%">{{task.1}}%</div>
						</div>
					</span>
					{% endfor %}
				</ul>
			</div>
			<div id="stat" class="card bg-dark ">
				<div class="card-header text-white bg-dark" >
					Week-Stat
					<span style="float:right;">
						<div class="btn-group float-right pr-3" role="group" aria-label="Basic example">
							<button type="button" class="btn btn-sm btn-primary" id="accountsData">work</button>
							<button type="button" class="btn btn-sm btn-primary" id="purchasesData">live</button>
							<button type="button" class="btn btn-sm btn-primary" id="sessionsData">projected</button>
						</div>
					</span>
				</div>
					<span>
						<canvas id="myChartline"  ></canvas> 
					</span>
			</div>
			<div id="projects" class="card bg-dark ">
				<div class="card-header text-white bg-dark" >
					projects
					<span style="float:right;">
						<div class="btn-group float-right pr-3" role="group" aria-label="Basic example">
							<button type="button" class="btn btn-sm btn-primary" id="accountsData">work	</button>
							<button type="button" class="btn btn-sm btn-primary" id="purchasesData">live</button>
							<button type="button" class="btn btn-sm btn-primary" id="sessionsData">projected</button>
						</div>
					</span>
				</div>
				<ul class="list-group list-group-flush scroll">
					{% for project in data.projects %}
					<div id="project" class="card bg-dark ">
						<span class="list-group-item text-white bg-dark">{{project.0}}
							<div class="progress">
							<div class="progress-bar "  style="width:{{project.1}}%">{{project.1}}%</div>
							</div>
						</span>
					</div>
					{% endfor %}
				</ul>
				
			</div>
			<iframe id = "gmaps" width="300" height="300" frameborder="0" 
			src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC-afFMN7qoeNN0B-FjGrDCGITQRjBcpxg&q=india&maptype=satellite" allowfullscreen></iframe>
			
		</div>
	</body>
	
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>			
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
	
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
	
	<script type="text/javascript" src="{% static "interface/js/javascript.js" %}"></script>
	
</html>