
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(86, 168, 47, 0); }

@-ms-viewport {
  width: device-width; }

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

body {
  margin: 0;
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff; 
}

.main .navbar {
  color: blueviolet;
  max-height: 50px;
  max-width: auto;
}

.img-fluid{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  }

.sidebar{
  min-width:260px;
  max-width:260px;
  border-right:0
}
.sidebar,.sidebar-content{
  -webkit-transition:margin-left .35s ease-in-out,left .35s ease-in-out;
  transition:margin-left .35s ease-in-out,left .35s ease-in-out;
  background:#262f3d
}

.sidebar-sticky .sidebar-content{
  border-right:0
}

.sidebar-sticky .sidebar-nav{
  padding-bottom:0
}
  .sidebar-sticky .sidebar-content{height:100vh;position:fixed;top:0;left:0;width:260px}
  .sidebar-nav{padding-bottom:3.5rem;padding-left:0;list-style:none}
  .sidebar-link,a.sidebar-link{display:block;padding:.7rem 1.5rem;color:hsla(0,0%,100%,.55);font-weight:400;background:#262f3d;-webkit-transition:background 50ms ease-in-out;transition:background 50ms ease-in-out;position:relative;text-decoration:none;cursor:pointer}.sidebar-link i,.sidebar-link svg,a.sidebar-link i,a.sidebar-link svg{margin-right:.75rem;color:#fff;opacity:.3}.sidebar-dropdown .sidebar-dropdown .sidebar-link{padding:.55rem 1.5rem .55rem 4.3rem}.sidebar-dropdown .sidebar-dropdown .sidebar-dropdown .sidebar-link{padding:.55rem 1.5rem .55rem 5.05rem}.sidebar-link:focus{outline:0}.sidebar-link:hover{color:hsla(0,0%,100%,.9);background:#1e2530}.sidebar-link:hover i,.sidebar-link:hover svg{color:#fff;opacity:.5}.sidebar-item.active .sidebar-link:hover,.sidebar-item.active>.sidebar-link{color:hsla(0,0%,100%,.9);background:#1e2530}.sidebar-item.active .sidebar-link:hover i,.sidebar-item.active .sidebar-link:hover svg,.sidebar-item.active>.sidebar-link i,.sidebar-item.active>.sidebar-link svg{color:#fff;opacity:.5}.sidebar-dropdown .sidebar-link{padding:.55rem 1.5rem .55rem 3.55rem;color:hsla(0,0%,100%,.55);background:#222a37;font-weight:400}.sidebar-dropdown .sidebar-item.active .sidebar-link,.sidebar-dropdown .sidebar-item .sidebar-link:hover{color:hsla(0,0%,100%,.9);background:#1e2530;font-weight:400}.sidebar [data-toggle=collapse]{position:relative}.sidebar [data-toggle=collapse]:before{content:" ";border:solid;border-width:0 .1rem .1rem 0;display:inline-block;padding:2px;-webkit-transform:rotate(45deg);transform:rotate(45deg);position:absolute;top:1.2rem;right:1.5rem;-webkit-transition:all .2s ease-out;transition:all .2s ease-out}.sidebar [aria-expanded=true]:before,.sidebar [data-toggle=collapse]:not(.collapsed):before{-webkit-transform:rotate(-135deg);transform:rotate(-135deg);top:1.4rem}.sidebar-brand{font-weight:600;font-size:1.15rem;padding:1.15rem 1.5rem;color:#f8f9fa;display:block}.sidebar-brand:hover{text-decoration:none;color:#f8f9fa}.sidebar-brand:focus{outline:0}.sidebar-brand .feather,.sidebar-brand svg{color:#5498ff;height:24px;width:24px;margin-left:-.15rem;margin-right:.375rem}.sidebar-toggle{cursor:pointer;width:26px;height:26px}.sidebar.toggled{margin-left:-260px}.sidebar.toggled .sidebar-content{left:-260px}@media (min-width:1px) and (max-width:991.98px){.sidebar{margin-left:-260px}.sidebar .sidebar-content{left:-260px}.sidebar.toggled{margin-left:0}.sidebar.toggled .sidebar-content{left:0}.sidebar-collapsed{margin-left:0}.sidebar-collapsed .sidebar-content{left:0}.sidebar-collapsed.toggled{margin-left:-260px}.sidebar-collapsed.toggled .sidebar-content{left:-260px}}.sidebar-header{background:transparent;color:#adb5bd;padding:1.125rem 1.5rem .375rem;font-size:.75rem;text-transform:none}.sidebar-bottom{-webkit-transition:margin-left .35s ease-in-out,left .35s ease-in-out;transition:margin-left .35s ease-in-out,left .35s ease-in-out;padding:1rem;width:inherit;font-size:.8rem;bottom:0;left:0;position:fixed;background:#222a37;min-width:260px;max-width:260px;color:#e9ecef;border-right:0;margin-left:0}.sidebar-bottom h5{color:#e9ecef}.sidebar.toggled .sidebar-bottom{margin-left:-260px}.sidebar-item .sidebar-badge{position:absolute;right:15px;top:14px}.sidebar-item .sidebar-item .sidebar-badge{top:10px}
  


  .sidebar-toggle:hover .hamburger,.sidebar-toggle:hover .hamburger:after,.sidebar-toggle:hover .hamburger:before{background:#3a89ff}.hamburger-right,.hamburger-right:after,.hamburger-right:before{right:0}
  .sidebar-toggle{display:none!important}html[data-useragent*="MSIE 10.0"] .sidebar{width:260px!important;min-width:260px!important;margin-left:0!important}html[data-useragent*="MSIE 10.0"] .toggled.sidebar-collapsed{margin-left:0!important}


  /* Dropdown Button */
.dropbtn {
  background-color: rgb(135, 36, 228);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #16eebfe8;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgb(14, 5, 56);}

/* Show the dropdown menu on hover 
*/
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #da913e;}